body {
    background: rgb(255, 255, 255);
    overflow-x: hidden;
}


/* Navigation Styling */

#navLinks {
    justify-content: flex-end;
}

#btn,
#home,
#services,
#about,
#how-it-works {
    margin: 2em 1em 0 1em;
    font-size: large;
}

#brand_name {
    font-size: 1.75em;
    font-weight: 500;
    padding-top: 4vh;
}

#bavbar-button {
    align-items: flex-end;
}


/* End of Navigation Styling */


/* Landing Page Styling */

#landing {
    background: url('../assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}


/* End of Landing Page Styling */


/* Get in Touch Styling */

.get-in-touch {
    background: url('../assets/Rectangle\ 11.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 300px;
}


/* End of Get in Touch Styling */


/* Footer styling */

#footer {
    background-color: darkblue;
    color: #fff;
}


/* End of Footer Styling  */